<html> 
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
</head>
<body>
  <h1>Task Manager</h1>
  <p>Welcome, {{ session['username'] }}</p>
  <a href="{{ url_for('logout') }}">Logout</a>


  <form action="{{ url_for('add_task') }}" method="POST">
    <input type="text" name="title" placeholder="Task title" required>
    <input type="text" name="description" placeholder="Task description" required>
    <button type="submit">Add Task</button>
  </form>
  
  <ul>
    {% for task in tasks %}
      <li>
        {{ task.title }} - {{ task.status }}
        <form action="{{ url_for('edit_task', task_id=task.id) }}" method="POST">
          <select name="status">
            <option value="pending" {% if task.status == "pending" %}selected{% endif %}>Pending</option>
            <option value="completed" {% if task.status == "completed" %}selected{% endif %}>Completed</option>
          </select>
          <button type="submit">Update Status</button>
        </form>
        <a href="{{ url_for('delete_task', task_id=task.id) }}">Delete</a>
      </li>
    {% endfor %}
  </ul>
</body>
</html>
